@tailwind base;
@tailwind components;
@tailwind utilities;

/* 색상 ≠템플릿 */
@layer base {
  :root {
    --primary: #524548;
    --secondary: #ffbf78;
    --bg-color: #efefef;
    --bg-gray: #f6f5f5;
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'),
    url('../../public/font/woff2/Pretendard-Black.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'),
    url('../../public/font/woff2/Pretendard-ExtraBold.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url('../../public/font/woff2/Pretendard-Bold.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url('../../public/font/woff2/Pretendard-SemiBold.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url('../../public/font/woff2/Pretendard-Medium.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'),
    url('../../public/font/woff2/Pretendard-Regular.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'),
    url('../../public/font/woff2/Pretendard-Light.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'),
    url('../../public/font/woff2/Pretendard-ExtraLight.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'),
    url('../../public/font/woff2/Pretendard-Thin.woff2') format('woff2'),
    url('../../public/font/woff/Pretendard-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Mapo';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Thin'),
    url('../../public/font/MapoFlowerIsland.otf'),
    url('../../public/font/MapoFlowerIsland.ttf');
}

@font-face {
  font-family: 'October';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Thin'),
    url('../../public/font/Hey October.ttf'),
    url('../../public/font/Hey October.otf');
}

* {
  font-family: 'Mapo';
  color: #544f4f;
}

html {
  font-size: 14px;
  touch-action: manipulation;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  white-space: pre-wrap;
}

.hidden {
  overflow: hidden;
}

.Wrapper {
  max-width: 780px;
  margin: 0 auto;
  background-color: #fff;

}

.inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

.h2 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.h2 .eng {
  color: #cec3c3;
  font-size: 0.9rem;
}

.h2 .tit {
  font-size: 1.5rem;
  color: var(--primary);
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 16px;
}

.error_txt {
  font-size: 0.8rem;
  color: #e86f6f;
  text-align: left;
  padding-top: 5px;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border: 1px solid #efefef;
  outline: none;

}

/* Main */
.Main .banner {
  position: relative;
  overflow: hidden;
  aspect-ratio: 540/811;
}

.Main .banner img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.Main .greeting {
  padding: 5rem 0 8rem;
  text-align: center;
}

.Main .greeting .title {
  font-size: 1.23rem;
}

.Main .greeting .message {
  line-height: 2rem;
}

/* Calendar */
.Calendar {
  padding: 5rem 0;
  text-align: center;
  background-color: var(--bg-gray);
}

.Calendar .inner {
  margin: 0 36px;
  padding: 0;
}

.Calendar .title {
  margin-bottom: 20px;
}

.Calendar .title .dday {
  font-size: 1.5rem;
  font-weight: 700;
}

.Calendar .title .time {
  font-size: 1.2rem;
}

.Calendar .body {
  border-top: 1px solid #e8dfdf;
  border-bottom: 1px solid #e8dfdf;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.Calendar .week {
  display: flex;
}

.Calendar .week>span {
  width: 100%;
  display: block;
  height: 30px;
  padding-bottom: 20px;
}

.Calendar .day {
  display: flex;
  flex-wrap: wrap;
}

.Calendar .day>span {
  width: 14.28%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar .body .dday {
  color: #fff;
  background-color: #cec3c3;
  border-radius: 50rem;
}

.Calendar .day>span.rest {
  color: #efefef;
}

.Calendar .day>span.sun,
.Calendar .week>span.sun {
  color: #c6472b;
}


.Calendar .day>span.default {
  color: #333;
}

.Calendar .time_panel {
  padding: 10px 10px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Calendar .time_panel .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #f2eeee;
  border-radius: 5px;
  width: 20%;
  padding: 10px 0;
}

.Calendar .time_panel .item .num {
  color: #89757a;
  font-size: 1.2rem;

}

.Calendar .time_panel .item .txt {
  color: #c2b2b2;
  font-size: 0.6rem;
}

.Calendar .dday_text {
  gap: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.Calendar .dday_text svg path {
  color: #c6472b;
}


/* Gallery */
.Gallery .swiper-slide {
  overflow: hidden;
}

.Gallery .MainSwiper {
  margin-bottom: 1rem;
}

.Gallery .MainSwiper .swiper-slide {
  padding-top: 100%;
}

.Gallery .SubSwiper .swiper-slide {
  padding-top: 20%;
}

.Gallery .swiper-slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Location */
.Location {
  padding: 0 0 3rem;
}

.hollymolly {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto;
  /* border-top: 1px solid rgb(255 213 226); */
  /* border-bottom: 1px solid rgb(255 213 226); */
}

#map {
  margin-top: 2rem;
}

.Location .map_btn_area {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Location .map_btn_area button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  gap: 5px;

}


.Location .map_btn_area .naver {
  background-color: #2db400;
}

.Location .map_btn_area .kakao {
  background-color: #fee502;
}

.Location .map_btn_area .naver .btn,
.Location .map_btn_area .naver .icon svg path {
  color: #fff;
  font-family: 'Pretendard';
}

.Location .map_btn_area .kakao .btn,
.Location .map_btn_area .kakao .icon svg path {
  color: #181600;
  font-family: 'Pretendard';
}


.location_info {
  padding: 3rem 0;
}

.location_info .location_name {
  font-size: 1.1rem;
}

.Location .desc {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Location .desc h3 {
  /* color: var(--secondary); */
  font-family: 'Pretendard';

}

.Location .desc li span {
  display: block;
  font-family: 'Pretendard';
  font-weight: 100;
}

/* GuestbookList */
.GuestbookList {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.GuestbookList li {
  list-style: none;
  padding: 1rem 1.8rem 1rem 1rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--bg-gray);
  position: relative;
  border-radius: 5px;
}

.GuestbookList li .w_info {
  display: flex;
  justify-content: space-between;
}

.GuestbookList li .w_info .name {
  font-weight: 900;
  color: #272525;
}

.GuestbookList li .w_info .date {
  font-size: 0.8rem;
  color: #c2b2b2;
}

.GuestbookList li .msg {
  font-size: 0.9rem;
}

.GuestbookList .showmore {
  border: 1px solid #f2eeee;
  border-radius: 5px;
  width: 200px;
  margin: 10px auto 0;
  font-size: 1.1rem;
  padding: 2px 10px;
}

.GuestbookList .del_btn {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 0;
}

.deco {
  background-color: #fff;
  width: 8px;
  height: 8px;
  opacity: 0.8;
}

.GuestbookList .del_btn svg path {
  color: #ab9f9f;
}

/* GuestbookForm */
.GuestbookForm .writer {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.GuestbookForm .input_wrap {
  margin-bottom: 1rem;
}

.GuestbookForm .input_box {
  width: 100%;
}

/* Button */
.btn-area {
  display: flex;
  gap: 5px;
}

.Button {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
}

.addressCopy {
  text-align: center;
}

.addressCopy .address {
  /* margin-top: 0.5rem; */
  opacity: 0.6;
}

.addressCopy button {
  background-color: #dcd3d3;
  margin-top: 0.8rem;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-family: 'Pretendard';
  color: #fff;
}

.toast {
  background-color: #89757a;
  position: fixed;
  bottom: 3rem;
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
  left: 3rem;
  right: 3rem;
  font-size: 0.8rem;
  z-index: 9;
}

.toast .msg {
  color: #fff;
  font-family: 'Pretendard';
}

.Account .item {
  border-bottom: 1px solid #f2eeee;
  padding: 1rem 0;
}

.Account .item:last-child {
  border-bottom: none;
}

.Account .item .account_box>p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Pretendard';

}

.Account .item .account_box>p>button {
  border: 1px solid #f2eeee;
  border-radius: 3px;
  padding: 3px 5px;
  font-weight: 100;
  font-size: 0.8rem;
}

.Accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Accordion .AccordionItem {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #f2eeee;
}

.Accordion .AccordionItem .btn {
  background-color: #f2eeee;
  padding: 10px;
  width: 100%;
  position: relative;
}

.Accordion .AccordionItem .btn svg {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translatey(-50%);
}

.Accordion .AccordionItem .btn svg path {
  color: #544f4f;
}

.Accordion .AccordionItem .item_panel {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
  padding: 0;
}

.Accordion .AccordionItem .item_panel.open {
  max-height: 500px;
  /* 충분한 값으로 설정 */
  padding: 0 1rem;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 300px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.modal-actions button {
  background-color: #f2eeee;
  width: 100%;
  border-radius: 5px;
  padding: 8px 5px;
}

.Subbanner {
  margin-top: 2rem;
  background-image: url('/g_6.jpeg');
  background-size: cover;
  background-position: center center;
}

.Subbanner .txt {
  padding: 4rem 0;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  backdrop-filter: contrast(0.5);
  word-break: keep-all;
}

.shared {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.shared .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.shared .item button {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2eeee;
  border-radius: 10px;
}

.shared .item button svg {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shared .item button svg path {
  color: #544f4f;
}

.shared .item button .txt {
  font-family: 'Pretendard';
}

.shared .item .txt {
  font-family: 'Pretendard';
  font-weight: 100;
}

.Footer {
  margin-top: 4rem;
  padding: 10px 0;
  background-color: var(--bg-gray);
  font-size: 0.5rem;
  text-align: center;
}

.Footer .copyright {
  font-family: 'Pretendard';
  font-weight: 100;
}

.Footer .copyright .brand {
  font-weight: 400;
}

.Information {
  background-color: var(--bg-gray);
}

.Information .image_box {
  margin: 0 auto;
  width: 80%;
  height: 185px;
  overflow: hidden;
  position: relative;
}

.Information .image_box img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Information .txt {
  padding: 1rem 0 3rem;
  text-align: center;
}