@tailwind base;
@tailwind components;
@tailwind utilities;

/* 색상 ≠템플릿 */
@layer base {
  :root {
    --primary: #ff7d29;
    --secondary: #ffbf78;
    --bg-color: #feffd2;
    --bg-gray: #efefef;
  }
}
html {
  font-size: 14px;
}

body {
  background-color: var(--bg-color);
  white-space: pre-wrap;
}
.Wrapper {
  max-width: 780px;
  margin: 0 auto;
  background-color: #fff;
}
.inner {
  padding-left: 1rem;
  padding-right: 1rem;
}
.h2 {
  color: var(--primary);
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

/* Main */
.Main .banner {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}
.Main .banner img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Main .greeting {
  padding: 4rem 0;
  text-align: center;
}
.Main .greeting .title {
  font-size: 1.23rem;
}

/* Calendar */
.Calendar {
  padding: 3rem 0;
  text-align: center;
  background-color: var(--bg-gray);
}
.Calendar .week {
  display: flex;
}
.Calendar .week > span {
  width: 100%;
}
.Calendar .day {
  display: flex;
  flex-wrap: wrap;
}
.Calendar .day > span {
  width: 14.28%;
}
.Calendar .day > span.rest {
  color: #efefef;
}
.Calendar .day > span.sun {
  color: red;
}
.Calendar .day > span.satur {
  color: blue;
}
.Calendar .day > span.default {
  color: #333;
}
.Calendar .day > span.dday {
  background-color: red;
  color: #fff;
}

/* Gallery */
.Gallery .swiper-slide {
  overflow: hidden;
}
.Gallery .MainSwiper .swiper-slide {
  padding-top: 100%;
}
.Gallery .SubSwiper .swiper-slide {
  padding-top: 20%;
}
.Gallery .swiper-slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Location */
.Location {
  padding: 3rem 0;
}
.location_info {
  padding: 3rem 0;
}
.location_info .location_name {
  font-size: 1.1rem;
}
.desc h3 {
  color: var(--secondary);
}
.desc li span {
  display: block;
}

/* GuestbookList */
.GuestbookList li {
  width: 100px;
  background-color: #fcf8e3;
  list-style: none;
  text-align: center;
  padding: 3rem 0;
  margin: 0 1rem;
}
/* GuestbookForm */
.GuestbookForm .input_box {
  padding: 0.5rem;
  border: 1px solid #efefef;
  border-radius: 5px;
}

/* Button */
.btn-area {
  display: flex;
  gap: 5px;
}
.Button {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--primary);
  color: #fff;
}
